.cards {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 5px;
}
.homeCard {
  position: relative;
  display: inline-block;
  --width: 350px;
  --height: calc(1.2 * var(--width));
  width: var(--width);
  height: var(--height);
  margin: 15px;
  padding: 0px;
  box-sizing: border-box;
  filter: drop-shadow(-10px 10px 4px var(--shadow));
  .top {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    top: 0px;
    left: 0px;
    padding: 25px;
    width: 100%;
    height: calc(0.5 * var(--width));
    background: var(--primary);
    .titleText {
      font-size: 2rem;
      color: white;
    }
  }
  .bottom {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
    height: calc(var(--height) - 0.5 * var(--width));
    top: calc(var(--width) * 0.5);
    left: 0px;
    background: var(--off-page);
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      .descText {
        position: relative;
        color: var(--text-color);
        font-size: 1.1rem;
      }
      .endDate {
        margin-top: auto;
      }
    }
  }
  &.flip {
    perspective: 1000px;

    .inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.25s ease-in-out;
      transform-style: preserve-3d;
      .front {
        backface-visibility: hidden;
      }
      .vote {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        .instructions {
          list-style: "-";
          padding-right: 10px;
          li {
            color: white;
            font-size: 1.1rem;
            margin-bottom: 5px;
          }
        }
        .btn {
          border: 1px solid var(--page-bg);
          position: relative;
          font-size: 2rem;
          display: inline-block;
          padding: 15px 25px;
          transition: all 1s ease;
          perspective: 1000px;
          transform-style: preserve-3d;
          color: var(--page-bg);
          background: var(--primary);
          background-clip: text;
          &:after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: -1;
            height: 100%;
            transition: all 0.25s ease-in-out;
            clip-path: circle(0% at 0 0);
            background: var(--page-bg);
          }
          cursor: pointer;
          &:hover {
            color: var(--primary);
            &:after {
              clip-path: circle(100% at 50% 0);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .flip:hover .inner {
    transform: rotateY(180deg);
    .front {
      pointer-events: none;
    }
  }
}
@media only screen {
  .flipped {
    transform: rotateY(180deg);
    .front {
      pointer-events: none;
    }
  }
}
