.pollPageWrapper {
  display: grid;
  grid-template:
    "polls questions" calc(100vh - var(--nav-height)) /
    1fr 1fr;
}
.pollList {
  grid-area: "polls";
  overflow-y: scroll;
}
.questionList {
  grid-area: "questions";
  overflow: scroll;
}

.questionWrapper {
  animation: questionEnter 0.35s ease-in-out forwards;
}
@keyframes questionEnter {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}

.pollListCardWrapper {
  transition: all 0.25s ease-in-out;
  width: 98%;
}

.selectedPoll {
  position: relative;
  transform: translate(10px);
}

.noQuestions {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  margin: 2.5%;
  width: 95%;
  height: 95%;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 15px;
}
.noQuestions div {
  font-size: 1.5rem;
}
.noQuestions button {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}
