.pollFormWrapper {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .group {
    display: inline-block;
  }
  h1 {
    font-size: 1.5rem;
    font-family: var(--title-font);
    font-weight: default;
    display: inline-block;
    padding: 10px;
    margin: 15px;
    border-bottom: 1px solid lightgrey;
  }
  hr {
    background: red;
  }
}
.mcOptions {
  .newOption {
    font-size: 1.1rem;
    .optionEdit {
      margin-left: 15px;
      width: 20px;
      height: 20px;
    }
    .optionText {
      &:hover {
        color: var(--danger);
        cursor: pointer;
        text-decoration: line-through;
      }
    }
    .optionEdit {
      pointer-events: all;
      display: inline-block;
    }
  }
}
.card .title .right {
  float: right;
}
.plusBtn {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border: 2px solid lightgrey;
  border-radius: 50%;
  margin-left: 5px;
}
.plusBtn:after {
  content: "+";
  color: lightgrey;
  position: absolute;
  top: -1px;
  left: 2.5px;
  transform: translate(50%);
}
.plusActive {
  border: 4px solid var(--primary);
  &:after {
    left: 2.4px;
    color: var(--primary);
  }
}

.right {
  display: inline-block;
  margin-left: auto;
}
