@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
:root {
  --default: #3f3f3f;
  --page-bg: white;
  --off-page: #f5f5f5;
  --off-page-2: #e9e9e9;
  --blue: #0003a1;
  --primary: #1157c0;
  --primary-darker: #0e4ca8;
  --success: #82e26a;
  --danger: #d12e2e;
  --warning: #ffdc15;
  --outline: black;
  --text-color: black;
  --shadow: grey;
  --hr: #00000033;
  --icon: black;
  --hov: #ffffff15;
  --nav-bg: #242424;
  --nav-logo: #424242;
  --body-font: "Montserrat";
  --title-font: "Montserrat";
  --ta-width: 50%;
  --nav-height: 85px;
}

.dark {
  --default: #929292;
  --page-bg: #232323;
  --off-page: #353535;
  --off-page-2: #454545;
  --primary: #c0141c;
  --primary-darker: #970e15;
  --success: #82e26a;
  --danger: #d12e2e;
  --warning: #ffdc15;
  --outline: white;
  --text-color: white;
  --shadow: rgb(63, 63, 63);
  --hr: #ffffff65;
  --icon: #b8b8b8;
  --hov: #00000015;
  --nav-bg: #424242;
  --nav-logo: #272727;
}

@media (max-width: 680px) {
  :root {
    --ta-width: 100%;
  }
}

* {
  font-family: var(--body-font);
  color: var(--text-color);
}

hr {
  border: 1px solid var(--hr);
}

.fas {
  color: var(--icon);
}

body {
  background: var(--page-bg);
  color: var(--text-color);
  margin: 0;
  font-family: "Montserrat sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  padding: 10px;
  margin: 5px;
  display: inline-block;
  color: white;
  background: var(--default);
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: 1.1rem;
  cursor: pointer;
}

.btn-small {
  padding: 5px;
  margin: 5px;
  font-size: 0.95rem;
}

.btn-padded {
  padding-left: 25px;
  padding-right: 25px;
}

.success {
  background: var(--success);
  color: black;
}

.default {
  background: var(--default);
  color: white;
}

.warning {
  background: var(--warning);
  color: black;
}

.danger {
  background: var(--danger);
  color: white;
}

.primary {
  background: var(--primary);
  color: white;
}

.wide {
  width: 100%;
  max-width: 900px;
}

.pointer {
  cursor: pointer;
}

.hov-delete:hover {
  color: var(--danger);
  text-decoration: line-through;
  cursor: pointer;
}

.big-text {
  font-size: 2rem;
}

.small-text {
  font-size: 0.85rem;
}

.link {
  text-decoration: none;
  font-style: italic;
  color: var(--text-color);
  display: inline-block;
  cursor: pointer;
}

.link:hover {
  color: var(--primary);
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.md-padding {
  padding: 10px;
}

.md-padding-v {
  padding-top: 10px;
  padding-bottom: 10px;
}

.md-padding-h {
  padding-left: 10px;
  padding-right: 10px;
}

.formSubmit {
  padding: 10px;
  margin: 5px;
  border: 1px solid #4a4b4d77;
  border-radius: 5px;
  background: var(--success-bg);
  color: var(--success);
  display: inline-block;
  cursor: pointer;
}

.nav-push-over {
  margin-left: 75px;
}

.page-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 10px;
  margin-top: 25px;
}

.paper {
  background: white;
  -webkit-filter: drop-shadow(10px);
          filter: drop-shadow(10px);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-baseline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-grow-fill {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bold {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 10px;
}

svg {
  display: inline-block;
  margin: 5px;
}

section {
  font-size: 1.2rem;
  line-height: 1.6;
}

.titleFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.theme-toggle {
  display: inline-block;
  width: 1.2rem;
  border: 4px solid var(--icon);
  border-radius: 50%;
  padding: 5px;
  position: relative;
}

.theme-toggle .fas {
  -webkit-transform: translate(-2px, 1.5px);
          transform: translate(-2px, 1.5px);
}

.page-title {
  font-size: 1.4rem;
  text-align: right;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.login-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 750px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 15px 100px 15px;
  margin: 10px;
  position: relative;
}

.login-card:hover:after {
  -webkit-filter: drop-shadow(1px 1px 5px grey);
          filter: drop-shadow(1px 1px 5px grey);
}

.login-card:after {
  content: "";
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: white;
  z-index: -20;
  -webkit-filter: drop-shadow(1px 1px 3px grey);
          filter: drop-shadow(1px 1px 3px grey);
}

.login-page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100% + 75px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
  background: #eeeeee;
}

@media only screen and (max-width: 600px) {
  .nav-push-over {
    margin-left: 0px;
    margin-top: 85px;
  }
  .login-page-wrapper {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */