@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
$successBg: #82e26a;
$warningBg: #ffdc15;

:root {
  //colors;
  --default: #3f3f3f;
  --page-bg: white;
  --blue: #0003a1;
  --primary: #1157c0;
  --primary-darker: #0e4ca8;
  --blue-grad: linear-gradient(45deg, var(--blue), var(--primary));
  --cyan: #00ccff;
  --red: #cc2813;
  --success: #82e26a;
  --danger: #d12e2e;
  --warning: #ffdc15;
  --r: #ff25ab;
  --outline: black;
  --text-color: black;

  //fonts;
  --body-font: "Montserrat";
  --title-font: "Montserrat";

  --ta-width: 50%;
  --nav-height: 85px;
}
@media (max-width: 680px) {
  :root {
    --ta-width: 100%;
  }
}
* {
  font-family: var(--body-font);
  color: var(--text-color);
}
body {
  background: var(--page-bg);
  color: white;
  margin: 0;
  font-family: "Montserrat sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn {
  padding: 10px;
  margin: 5px;
  display: inline-block;
  color: white;
  background: var(--default);
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: 1.1rem;
  cursor: pointer;
}
.btn-small {
  padding: 5px;
  margin: 5px;
  font-size: 0.95rem;
}
.btn-padded {
  padding-left: 25px;
  padding-right: 25px;
}
.success {
  background: var(--success);
  color: black;
}
.default {
  background: var(--default);
  color: white;
}
.warning {
  background: var(--warning);
  color: black;
}
.danger {
  background: var(--danger);
  color: white;
}
.primary {
  background: var(--primary);
  color: white;
}
.wide {
  width: 100%;
  max-width: 900px;
}
.pointer {
  cursor: pointer;
}
.hov-delete:hover {
  color: var(--danger);
  text-decoration: line-through;
  cursor: pointer;
}
.big-text {
  font-size: 2rem;
}
.small-text {
  font-size: 0.85rem;
}
.link {
  text-decoration: none;
  font-style: italic;
  color: #111111;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: var(--primary);
  }
}
.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}
.md-padding {
  padding: 10px;
}
.md-padding-v {
  padding-top: 10px;
  padding-bottom: 10px;
}
.md-padding-h {
  padding-left: 10px;
  padding-right: 10px;
}

.formSubmit {
  padding: 10px;
  margin: 5px;
  border: 1px solid #4a4b4d77;
  border-radius: 5px;
  background: var(--success-bg);
  color: var(--success);
  display: inline-block;
  cursor: pointer;
}
.nav-push-over {
  margin-left: 75px;
}
.page-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 10px;
  margin-top: 25px;
}
.paper {
  background: white;
  filter: drop-shadow(10px);
}

.flex-container {
  display: flex;
  align-items: center;
}
.flex-baseline {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-grow-fill {
  flex-grow: 1;
}
.bold {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 10px;
}

svg {
  display: inline-block;
  margin: 5px;
}

.titleFlex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.page-title {
  font-size: 1.4rem;
  text-align: right;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.login-card {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  max-width: 750px;
  flex-direction: column;
  padding: 100px 15px 100px 15px;
  margin: 10px;
  position: relative;
  &:hover:after {
    filter: drop-shadow(1px 1px 5px grey);
  }
  &:after {
    content: "";
    transition: all 0.2s ease-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: white;
    z-index: -20;
    filter: drop-shadow(1px 1px 3px grey);
  }
}
.login-page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100% + 75px);
  flex-direction: column;
  transform: translate(-50px);
  background: #eeeeee;
}

@media only screen and (max-width: 600px) {
  .nav-push-over {
    margin-left: 0px;
    margin-top: 85px;
  }
  .login-page-wrapper {
    transform: translate(0px);
    width: 100%;
  }
}
