@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
:root {
  --default: #3f3f3f;
  --page-bg: white;
  --blue: #0003a1;
  --primary: #1157c0;
  --blue-grad: linear-gradient(45deg, var(--blue), var(--primary));
  --cyan: #00ccff;
  --red: #cc2813;
  --success: #82e26a;
  --danger: #d12e2e;
  --warning: #ffdc15;
  --r: #ff25ab;
  --outline: black;
  --text-color: black;
  --body-font: "Montserrat";
  --title-font: "Montserrat";
  --ta-width: 50%;
  --nav-height: 65px;
}

@media (max-width: 680px) {
  :root {
    --ta-width: 100%;
  }
}

* {
  font-family: var(--body-font);
  color: var(--text-color);
}

body {
  background: var(--page-bg);
  color: white;
  margin: 0;
  font-family: "Montserrat sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  padding: 10px;
  margin: 5px;
  display: inline-block;
  color: white;
  background: var(--default);
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: 1.1rem;
  cursor: pointer;
}

.btn-small {
  padding: 5px;
  margin: 5px;
  font-size: 0.95rem;
}

.btn-padded {
  padding-left: 25px;
  padding-right: 25px;
}

.success {
  background: var(--success);
  color: black;
}

.warning {
  background: var(--warning);
  color: black;
}

.danger {
  background: var(--danger);
  color: black;
}

.primary {
  background: var(--primary);
  color: white;
}

.wide {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.hov-delete:hover {
  color: var(--danger);
  text-decoration: line-through;
  cursor: pointer;
}

.big-text {
  font-size: 2rem;
}

.formSubmit {
  padding: 10px;
  margin: 5px;
  border: 1px solid #4a4b4d77;
  border-radius: 5px;
  background: var(--success-bg);
  color: var(--success);
  display: inline-block;
  cursor: pointer;
}

.paper {
  background: white;
  -webkit-filter: drop-shadow(10px);
          filter: drop-shadow(10px);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-baseline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-grow-fill {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bold {
  font-weight: bold;
}

svg {
  display: inline-block;
  margin: 5px;
}

.titleFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
/*# sourceMappingURL=index.css.map */