/* .input {
  position: relative;
  font-size: 1.2rem;
  color: var(--text-color);
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--default);
  background: transparent;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
  margin: 10px 5px 0px 5px;
}
.inputWrapper::after {
  content: "";
  width: 110%;
  height: 3px;
  position: absolute;
  top: 95%;
  left: -5px;
  background: var(--primary);
  transform: translateX(-100%);
  transition: all 0.25s ease-in-out;
}
.inputWrapper.underline::after {
  transform: translate(0%);
}
.inputWrapper {
  position: relative;
  padding-top: 5px;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
}
.label {
  font-size: 1.1rem;
  font-family: var(--body-font);
  position: absolute;
  z-index: -19;
  color: var(--default);
  top: 5px;
  left: 20px;
  transform: translateY(75%);
  transition: all 0.25s ease-in-out;
  pointer-events: none;
}
.active {
  transform: translateY(-10%);
  top: 2px;
  left: 10px;
  font-size: 0.85rem;
  color: var(--primary);
} */
