nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: var(--nav-height);
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  font-size: 2rem;
  .links {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    transform: translateY(15%);
  }
}
