nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 8vh;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  font-size: 2rem;
  div {
    cursor: pointer;
    .current {
      color: var(--primary);
    }
  }
}
