@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
nav {
  --logo-bg: var(--nav-logo);
  --background: var(--nav-bg);
  --text: white;
  --nav-font: "Nunito", sans-serif;
  --nav-font-size: 1.5rem;
  --icon-color: var(--default);
  --icon-alt: var(--primary);
  --icon-bg: var(--off-page-2, #7a7a7a);
  position: fixed;
  z-index: 10;
  left: 0px;
  background: var(--background);
  padding-top: 15px;
  width: 85px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 0.15s ease-out;
  transition: width 0.15s ease-out;
  overflow: hidden;
}

nav .logo {
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

nav.hov {
  width: 300px;
}

nav.hov .nav-item .nav-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.hov .nav-item .text {
  display: inline-block;
}

.nav-items {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.nav-item {
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.nav-item .icon {
  display: inline-block;
}

.nav-item .icon svg {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 50px;
  height: 50px;
  fill: var(--icon-color);
  opacity: 80%;
}

.nav-item:hover .icon svg {
  fill: var(--icon-alt);
}

.nav-item:hover:after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--hov);
}

.nav-item:first-child {
  background: var(--logo-bg);
}

.nav-item:last-child {
  margin-bottom: 30px;
  margin-top: auto;
}

.text {
  color: var(--text);
  font-size: var(--nav-font-size);
  display: none;
  white-space: nowrap;
  margin-left: 1rem;
  font-family: var(--nav-font);
}

.nav-selected .icon svg {
  fill: var(--icon-alt);
  opacity: 100%;
}

.mobile-nav-click {
  display: none;
}

.arrows {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    -webkit-transform: translateY(-85px);
            transform: translateY(-85px);
    -webkit-transition: width 0.15s ease-out;
    transition: width 0.15s ease-out;
    background: none;
    pointer-events: none;
    width: 100px;
  }
  nav.hov {
    background: var(--background);
    pointer-events: visible;
  }
  nav.hov .nav-item {
    display: initial;
  }
  nav.hov .logo-item {
    background: var(--logo-bg);
  }
  nav.hov .arrows {
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
    left: calc(100% - 20px);
  }
  .nav-item {
    display: none;
  }
  .logo-item {
    position: relative;
    display: initial;
    background: var(--background);
    pointer-events: visible;
  }
  .logo-item > .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-nav-click {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .arrows {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    display: inline-block;
    position: absolute;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
    top: 50%;
    left: calc(100% - 30px);
    margin: 0px;
    margin-left: 5px;
    width: 15px;
    fill: #ffffffad;
  }
}

@media only screen and (min-width: 600px) {
  nav {
    top: 0px;
    width: 75px;
    height: 100vh;
  }
}
/*# sourceMappingURL=sideNav.css.map */