:root {
  --removeRed: #f12e2e;
}
.card {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.removed-card {
  background-color: lightgrey;
  border: 1px solid var(--removeRed);
}
.removed-card::after {
  content: attr("div");
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.card-title {
  font: 1.2em "Oxygen";
  border-bottom: 1px solid #00000033;
}
.card-body {
  margin-top: 10px;
  font-family: "Montserrat";
}
.del-btn {
  padding: 10px;
  background-color: var(--removeRed);
  width: 100px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
}
