.card-sm {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--outline);
  width: 100%;
  display: grid;
  grid-template-columns: auto 20% 40% 10% 10% 10% auto;
  grid-column-gap: 20px;
  align-items: center;
}
.removed-sm {
  background: linear-gradient(to right, var(--danger) 0%, rgba(0, 0, 0, 0) 10px),
    linear-gradient(to left, var(--danger) 0%, rgba(0, 0, 0, 0) 10px),
    linear-gradient(to top, var(--danger) 0%, rgba(0, 0, 0, 0) 10px),
    linear-gradient(to bottom, var(--danger) 0%, rgba(0, 0, 0, 0) 10px);
}
.card-sm:first-child {
  border-top: 1px solid var(--outline);
}
.card-title-sm {
  font-family: "Oxygen";
  font-size: 1.1em;
  grid-column: 2/3;
}
.card-desc-sm {
  grid-column: 3/4;
  font-family: "Montserrat";
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}
.card-close-date-sm {
  grid-column: 5/6;
}
.card-open-date-sm {
  grid-column: 4/5;
}
.recov-btn-sm {
  cursor: pointer;
  background-color: var(--success);
  padding: 5px;
  grid-column: 6/7;
  margin: 0px;
  position: relative;
  z-index: 3;
}
.delete-btn-sm {
  cursor: pointer;
  background-color: var(--danger);
  padding: 5px;
  grid-column: 6/7;
}
