.react-datepicker {
  border: none;
  -webkit-filter: drop-shadow(0px 0px 2px lightgrey);
  filter: drop-shadow(0px 0px 2px lightgrey);
}
.react-datepicker-popper {
  z-index: 3;
}

.react-datepicker .react-datepicker__triangle {
  background: maroon;
  display: none;
}

.react-datepicker .react-datepicker__month-container {
  background: white;
  font-size: 1rem;
}

.react-datepicker .react-datepicker__month-container .react-datepicker__header {
  background: white;
  border: none;
  border-bottom: 1px solid #b3b3b3;
}

.react-datepicker__day {
  border-radius: 0px;
}

.react-datepicker__day:hover {
  border-radius: 0px;
}

.react-datepicker__day:focus {
  outline: none;
  background: lightgrey;
}

.react-datepicker__day--selected {
  background: var(--primary);
  border-radius: 0px;
}

.react-datepicker__day--today {
  border: 1px solid var(--primary-darker);
}
