.react-datepicker {
  border: none;
  -webkit-filter: drop-shadow(0px 0px 2px var(--shadow));
  filter: drop-shadow(0px 0px 2px var(--shadow));
  z-index: 1000;
  position: relative;
}
.react-datepicker-popper {
  position: relative;
  z-index: 1000;
}

.react-datepicker .react-datepicker__triangle {
  display: none;
}

.react-datepicker .react-datepicker__month-container {
  background: var(--page-bg);
  color: var(--text-color);
  font-size: 1rem;
}

.react-datepicker .react-datepicker__month-container .react-datepicker__header {
  background: var(--page-bg);
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid var(--default);
}

.react-datepicker__day {
  border-radius: 0px;
  color: inherit;
}
.react-datepicker__day-name {
  color: inherit;
}
.react-datepicker__current-month {
  color: inherit;
}

.react-datepicker__day:hover {
  border-radius: 0px;
  background: var(--off-page);
}

.react-datepicker__day:focus {
  outline: none;
  background: var(--off-page-2);
}

.react-datepicker__day--selected {
  background: var(--primary);
  color: white;
  border-radius: 0px;
}
.react-datepicker__day--selected:hover {
  background: var(--primary-darker);
}

.react-datepicker__day--today {
  border: 1px solid var(--primary-darker);
}
