::-webkit-datetime-edit-text {
  color: #00000000;
}
::-webkit-datetime-edit-month-field {
  color: #00000000;
}
::-webkit-datetime-edit-day-field {
  color: #00000000;
}
::-webkit-datetime-edit-year-field {
  color: #00000000;
}
.dateInput {
  font-size: 1.1rem;
  color: black;
  border: none;
  border-bottom: 1px solid var(--default);
  background: transparent;
  outline: none;
  padding: 5px;
  padding-bottom: 5px;
  margin: 10px 5px 0px 5px;
}
.dateWrapper::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  top: 95%;
  left: 5px;
  background: var(--primary);
  transition: all 0.25s ease-in-out;
}
.dateWrapper.underline::after {
  width: 100%;
}
.dateWrapper {
  position: relative;
  padding-top: 5px;
  display: inline-block;
}
.dateLabel {
  font-size: 1.1rem;
  font-family: var(--body-font);
  position: absolute;
  color: var(--default);
  top: 7px;
  left: 20px;
  transform: translateY(75%);
  transition: all 0.25s ease-in-out;
  pointer-events: none;
}
.dateActive {
  transform: translateY(-10%);
  top: 5px;
  left: 10px;
  font-size: 0.85rem;
  color: var(--primary);
}
.inputActive {
  color: var(--text-color);
}
.inputActive::-webkit-datetime-edit-text {
  color: black;
}
.inputActive::-webkit-datetime-edit-month-field {
  color: black;
}
.inputActive::-webkit-datetime-edit-day-field {
  color: black;
}
.inputActive::-webkit-datetime-edit-year-field {
  color: black;
}
